<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopify</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <link rel="stylesheet" href="/shopify/static/src/libs/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/shopify/static/src/css/index.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/shopify  ">Nam</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/shopify">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/xero">Xero</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/shopify/fetch-product">Fetch Product</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/shopify/fetch-order">Fetch Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shopify/webhook-register">Webhook register</a>
                </li>

            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div id="index-info">
            <span v-if="status_xero">Connected Xero</span>
            <span v-else>Disconnected Xero</span>
        </div>
    </div>
</nav>
<div id="date-picker">
    <div class="inputs-wrapper">
        <input type="date" placeholder="dd-mm-yyyy" v-model="timePicker.startTime">
        <input type="date" placeholder="dd-mm-yyyy" v-model="timePicker.endTime">
        <input type="button" value="Fetch" v-on:click="fetchProducts(timePicker.startTime, timePicker.endTime)">
        <input type="button" value="Clear history" v-on:click="clearHistory()">
        <div class="value-fetch">
            <span>Quantity fetch: [[totalFetch]]</span>
        </div>
        <div>
            <table class="table table-striped table-bordered fetch-history" v-model="historyFetch">
                <tr v-for="history in historyFetch">
                    <td>[[history.time]]</td>
                    <td>[[history.quantity]] products have been returned</td>
                </tr>
            </table>
        </div>
    </div>

</div>


<script type="text/javascript" src="/shopify/static/src/js/fetch-product.js"></script>
<script type="text/javascript" src="/shopify/static/src/js/load_info.js"></script>

</body>
</html>